<section class="row ml-auto">
    <article class="card m-auto">
        <section class="card-body">
            <form action="/usuarios/registro/created" method="POST">
                <label>Nome: </label>
                    <input type="text" class="form-control" name="nome" required="required" placeholder="Insira seu nome aqui... "/>
                
                <br/>
                <label>Email: </label>
                    <input type="email" class="form-control" name="email" required="required" placeholder="Insira seu email aqui... ex: aaa@aaa.com"/>
                
                <br/>
                <label>Senha: </label>
                    <input type="password" class="form-control" name="senha" required="required" placeholder="Insira sua senha aqui... "/>
                
                <br/>
                <button type="submit" class="btn btn-success">Cadastrar! </button>
            </form>
        </section>
    </article>
</section>